<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>About Sift</title>
  <link href="/static/reset.css?q=1280549711" rel="stylesheet">
  <link href="/static/stylesheet.css?q=1280549711" rel="stylesheet">
  <script src="/static/script.js?q=1280549711"></script>
</head>

<body>
  <div>
    <header>
      <h1>About Sift</h1>
    </header>

    <section>
      <p>
          Sift is a platform that collects helpful study resources (links, videos, diagrams) and
        puts them in a central location for easier access. It provides the ability to search for
        specific topics, to organize items based on the preferred learning style, and to add
        additional resources for other users.
      </p>
      <p>
          Sift was made during Cal Hacks 2019.
      </p>
    </section>

    <section>

    </section>

    <footer>
    </footer>
  </div>
</body>

</html>