<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>About Sift</title>
  <link rel="icon" href="/static/images/hand.png">
  <link href="/static/reset.css?q=1900000001" rel="stylesheet">
  <link href="/static/stylesheet.css?q=1900000001" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Assistant:400,700&display=swap" rel="stylesheet">

  <script src="/static/script.js?q=1900000001"></script>
</head>

<body id="about">
  <div>
    <nav>
      <a href="/"><img id="logo" src="/static/images/logo.png" alt="logo"></a>
      <section>
        <a href="/about">About</a>
        <a href="/bookmarks"><img id="save" src="/static/images/save.png" alt="save"></a>
      </section>
    </nav>

    <section>
      <h1>About Sift</h1>
      <p>Three learning styles in people identified by Walter Burke Barbe and his associates include the Visualising (learning by seeing), Auditory (learning by listening), and Kinesthetic (or hands-on) learning styles.</p><p>We want to develop a site that allows a user to search for terms, and have the results be presented according to their preferred learning style. Our product is named Sift, which references the "sifting" of information. It is also an acronym for "Styles in Finding Things."</p>
    </section>

    <aside class="trio">
      <img class="see" src="/static/images/eye.png" alt="eye">
      <img class="hear" src="/static/images/ear.png" alt="ear">
      <img class="phys" src="/static/images/hand.png" alt="hand">
    </aside>
  </div>
</body>

</html>
