<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Sift Bookmarks</title>
  <link rel="icon" href="/static/images/hand.png">
  <link href="/static/reset.css?q=1900000002" rel="stylesheet">
  <link href="/static/stylesheet.css?q=1900000002" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Assistant:400,700&display=swap" rel="stylesheet">

  <script src="/static/script.js?q=1900000002"></script>
</head>

<body id="bookmarks">
  <div>
    <nav>
      <a href="/"><img id="logo" src="/static/images/logo.png" alt="logo"></a>
      <section>
        <a href="/about">About</a>
        <a href="/bookmarks"><img id="save" src="/static/images/save.png" alt="save"></a>
      </section>
    </nav>

    <section>
      <h1>Bookmarks</h1>
    </section>

    <aside class="trio">
      <img class="see" src="/static/images/save.png" alt="bookmark">
      <img class="see" src="/static/images/save2.png" alt="bookmark2">
      <img class="see" src="/static/images/save.png" alt="bookmark">
    </aside>

    <section>
        <!--Bookmarks go here-->
    </section>
  </div>
</body>

</html>
