<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Using Sift</title>
  <link rel="icon" href="/static/images/hand.png">
  <link href="/static/reset.css?q=1280549713" rel="stylesheet">
  <link href="/static/stylesheet.css?q=1280549713" rel="stylesheet">
  <script src="/static/script.js?q=1280549713"></script>
</head>

<body>
  <div>
    <header>
      <h1>Using Sift</h1>
    </header>

    <section>
      <p>
          To use Sift, search for a topic in the search bar. Select a 
          certain tab, based on your preferred learning style. We have
          tabs corresponding to the three major learning styles: visual,
          auditory, and kinesthetic.
      </p>
    </section>

    <section>

    </section>

    <footer>
    </footer>
  </div>
</body>

</html>
